<div id="login">
    <h3 class="text-center text-white pt-5"></h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" method="post" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Identifiant:</label><br>
                            <input type="text" formControlName="identifiant" id="username" class="form-control"
                                placeholder="votre identifiant">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Mot de passe:</label><br>
                            <input type="text" formControlName="password" id="password" class="form-control"
                                placeholder="Mot de passe">
                        </div>
                        <div class="form-group"><br>
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Se connecter">
                        </div>
                        <div [class.cache]="isSubmit" id="register-link" class="text-left">
                            <label class="text-danger">Identifiant ou mot de passe incorrect !</label>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>