<div class="container-fluid bg content">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-8 ">
                <div class="row">
                    <div class="col-sm-3 col-md-2 col-lg-2">
                        <i class="lni lni-enter" aria-hidden="true"></i>
                    </div>

                    <div class="col-sm-9 col-md-10 col-lg-10">
                        <h1 class="heading">Enregistrer</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-md-2 col-lg-2">
                        <i class="lni lni-user" aria-hidden="true"></i>
                    </div>

                    <div class="col-sm-9 col-md-10 col-lg-10">
                        <h1 class="heading">resume du profile </h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-md-2 col-lg-2">
                        <i class="lni lni-cloud-upload" aria-hidden="true"></i>
                    </div>

                    <div class="col-sm-9 col-md-10 col-lg-10">
                        <h1 class="heading">Telecharger ton profile</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-md-2 col-lg-2">
                        <i class="lni lni-search" aria-hidden="true"></i>
                    </div>

                    <div class="col-sm-9 col-md-10 col-lg-10">
                        <h1 class="heading">Autre à preciser </h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card regform wow bounce animated" data-wow-delay="0.05s">
                    <div class="card-body regform">
                        <div class="myform form ">
                            <div class="logo mb-3">
                                <div class="col-md-12 text-center">
                                    <h1 class="sign">S'inscrire</h1>
                                </div>
                            </div>
                            <form action="#" name="registration">
                                <div class="form-group">
                                    <label for="">Nom</label>
                                    <input type="text" name="nom" class="form-control" id="nom"
                                        aria-describedby="nameHelp" placeholder="Entrez votre nom">
                                </div>
                                <div class="form-group">
                                    <label for="">Prénom</label>
                                    <input type="text" name="firstname" class="form-control" id="firstname"
                                        aria-describedby="emailHelp" placeholder="Entrez votre Prenom">
                                </div>

                                <div class="form-group">
                                    <label for="telephone">Télephone</label>
                                    <input type="text" name="telephone" class="form-control" id="telephone"
                                        aria-describedby="telephoneHelp" placeholder="Entrez votre téléphone">
                                </div>

                                <div class="form-group">
                                    <label for="">Localisation</label>
                                    <input type="text" name="Localisation" id="localisation" class="form-control"
                                        aria-describedby="localisationHelp" placeholder="localisation">
                                </div>

                                <div class="form-group">
                                    <label for="">Mot de passe: </label>
                                    <input type="text" name="Localisation" id="localisation" class="form-control"
                                        aria-describedby="localisationHelp" placeholder="localisation">
                                </div>

                                <div class="form-group">
                                    <label for="">Repeter le mot de passe: </label>
                                    <input type="text" name="Localisation" id="localisation" class="form-control"
                                        aria-describedby="localisationHelp" placeholder="localisation">
                                </div>

                                <div class="col-md-12 text-center mb-3">
                                    <button type="submit" class="btn btn-warning">S'inscrire</button>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="text-center">
                                            <a (click)="gotoLogin()" id="signin">Avez-vous dejà un compte?</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>